.main-game
  .row
    .btn-container
      .button.green#green
    .btn-container
      .button.red#red
  .row
    .btn-container
      .button.yellow#yellow
    .btn-container
      .button.blue#blue
.info-bar
  span Level: #[span#info-level --]
  .controls
    button#info-main-btn Start
    button#info-strict Strict Mode Off
