.main-game
  .row
    .btn-container
      .button.green#green
    .btn-container
      .button.red#red
  .row
    .btn-container
      .button.yellow#yellow
    .btn-container
      .button.blue#blue
.info-bar
  span Level: #[span#info-level --]
  .controls
    button#info-main-btn Start
    button#info-strict Strict Mode Off
.credits
  h1 Simon
  span Created by #[a(href="https://github.com/sakeran", target="_blank") Alexander Morse]
  br
  span Sound effects courtesy of #[a(href="http://www.noiseforfun.com", target="_blank") NoiseForFun.com]
