doctype html
html
  head
    title Simon
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=0")
    - var defaultStyle = testMode ? "../dist/" : "";
    - defaultStyle += "style.css";
    include includes/scripts_head.pug
  body
    if testMode
      #qunit
      #qunit-fixture
    include includes/main.pug
    - var app = testMode ? "../dist/" : "";
    - app += "app.min.js";
    script(type="application/javascript", src=app)
    if testMode
      script(type="application/javascript", src="https://code.jquery.com/qunit/qunit-2.1.1.js")
      script(type="application/javascript", src="tests.js")
