doctype html
html
  head
    title Simon
    - var defaultStyle = testMode ? "../dist/" : "";
    - defaultStyle += "style.css";
    if testMode
      link(rel="stylesheet",href="https://code.jquery.com/qunit/qunit-2.1.1.css")
    link(rel="stylesheet",href=defaultStyle)
  body
    if testMode
      #qunit
      #qunit-fixture
    include includes/main.pug
    - var app = testMode ? "../dist/" : "";
    - app += "app.js";
    script(type="application/javascript", src=app)
    if testMode
      script(type="application/javascript", src="https://code.jquery.com/qunit/qunit-2.1.1.js")
      script(type="application/javascript", src="tests.js")
